*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    display: block;
    clear: both;
}

body{
    font-family: 'Fredoka', sans-serif;
    text-align: center;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

header{
    margin-bottom: 35px;
}

header h1{
    color: rgb(244, 68, 112);
}

.sezione{
    margin-top: 30px;
}

.contenitore{
    width: 30%;
    margin: 12px;
    display: inline-block;
    border: solid black;
    color: white;
    background-color: black;
}

img{
    height: 100px;
    width: auto;
}

.float{
    float: left;
}

.carte{
    height: 100px;
    width: auto;
    display: inline-block;
}

.mail{
    color: rgb(0, 183, 255);
}

.dati-carte{
    padding-top: 10px;
}

